.lead {
    display: block;
    text-align: center;
  }
  
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    max-width: 793px;
    width: 100%;
    text-align: center;
    margin: 90px auto auto;
  }
  
  .lead__subtitle {
    font-family: "Inter", arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 720px;
    margin: 32px auto 64px;
    text-align: center;
  }
  
  .lead__image {
    max-width: 984px;
    width: 100%;
    text-align: center;
  }
  
  /*Media query para pantalla 768px*/
  
  @media (min-width: 501px) and (max-width: 768px) {
    .lead__title {
      max-width: 720px;
    }
  
    .lead__subtitle {
      margin: 99px auto 69px;
    }
  
    .lead__image {
      width: 100%;
      max-width: 768px;
    }
  }
  
  /*Media query para pantalla 320px*/
  
  @media (max-width: 500px) {
    .lead__title {
      max-width: 288px;
      width: 100%;
      font-size: 40px;
      line-height: 44px;
      margin-top: 0;
    }
  
    .lead__subtitle {
      margin: 60px auto 40px;
      max-width: 288px;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  
    .lead__image {
      max-width: 320px;
      width: 100%;
    }
  }
  